**/target


# Added by cargo

/target


*.wasm
!wasi_virt_layer-cli/tests/fixtures/c_target.wasm

**/dist
dist_minimal

# Python must not exist in the repository, but if it does, ignore it.
*.py

# /docs/plans

_debug_*.wat

.worktrees/

.antigravitycli/

**/*.objdump
/wasi_virt_layer-cli/tests/dist*/
/wasi_virt_layer-cli/tests/onetime/
